body {
  font-size: 10px;
}

.map {
  border: 1px solid #909090;
}

/*
.poi-list {
  font-size: 16px;
  color: #aaa;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}
*/
.poi-list {
  margin: 0px;
  padding: 0px;
}

.poi-list li {
  float: left;
  margin: 2px;
  padding: 1px;
  width: 200px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  list-style: none;
}

.poi-list .label {
  font-weight: bold;
  font-size: 12px;
}


