body {
  font-size: 12px;
  font-family: times, serif;
}

.map {
  border: 1px solid #909090;
  width: 1400px;
  height: 830px;
  page: land;
}

.poi-list {
  margin: 0px;
  padding: 0px;
  page-break-before: always;
  border:1px solid;
  width:100%;
  border-collapse:collapse;
}

.poi-list th {
  width:50%;
}

.poi-list tr td {
  margin: 2px;
  padding: 1px;
  border: 1px solid;
}

.poi-list tr:nth-child(even) {
  background-color: #eee;
}

.poi-list .label {
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
