<?php

$cfg = array();

// --------------------------------------------------------------
// Mapnik
// --------------------------------------------------------------
$cfg['mapnik_home'] = '';
$cfg['mapnik_bin'] = '';

?>
